{{!-- <head>
  <meta charset="UTF-8">
  <title>User Profile</title>
  {{!-- <link rel="stylesheet" href="/css/jass.css"> --}}
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        Find your escape
      </h1>
    </header>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>
  </body>

</html> --}}

{{#each locations as |location|}}

<div class="location-card">
  <h2 class="location-name">
    {{location.city}}, {{location.country}}
  </h2>
  <p class="location-desc">
    {{location.description}}
  </p>
  <img src="{{location.photo}}" alt="{{location.city}}">
  <p class="language">
    {{location.language}}
  </p>
  <div class="climate">{{location.climate}}</div>
</div>

{{/each}}

{{!-- ASK: How can we limit the number of results on the page, and add an option to go to the next page? --}}