<div class="location-intro">
  {{!-- Left box --}}
  <div class="loc-left">
    <img class="compass-logo" src="../../assets/landing/compass-logo.png" alt="compass graphic">
    <h3 class="intro-text">Plan your</br>next Escape</h3>
    </br>
    {{!-- <p class="intro-tagline">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
    </br> --}}
    <h6 class="intro-cta">Scroll down to explore destinations</h6>
    </br>
  </div>
  {{!-- Right box --}}
  <div class="loc-right">
    <video autoplay muted loop id="locVideo" src="../../assets/landing/birds-eye-beach.mp4" alt="Bird's eye video of beautiful beach"></video>
  </div>
</div>

<div class="all-locations">
  <h6 class="location-header">Latest Posts</h6>

  {{#each locations as |location|}}
  <a href="/location/{{location.id}}">
    {{!-- Create location card --}}
      <div class="location-card">
        {{!-- Location image (left) --}}
        <div class="flex-image">
          <img class="loc-image" src="{{location.photo}}" alt="{{location.city}}">
        </div>
        {{!-- Location info (right) --}}
        <div class="flex-info">
          <h2 class="location-name">{{location.city}}, {{location.country}}</h2>
          <p class="location-desc">{{location.description}}</p>
          {{!-- Little details --}}
          <div class="little-loc-info">
            <h6 class="language">Language: {{location.language}}</h6>
            <h6 class="climate">Climate: {{location.climate}}</h6>
          </div>
        </div>
      </div>
    </a>
  {{/each}}
</div>


{{!-- ASK: How can we limit the number of results on the page, and add an option to go to the next page? --}}