
<h3 class="location-header">Latest Posts</h3>
{{#each locations as |location|}}

<div class="location-card">

  <div class="flex-image">
    <img src="{{location.photo}}" alt="{{location.city}}">
  </div>

  <div class="flex-info">
    <h2 class="location-name">{{location.city}}, {{location.country}}</h2>

    <p class="location-desc">{{location.description}}</p>

    <div class="little-loc-info">
      <h5 class="language">Language: {{location.language}}</h5>
      <h5 class="climate">Climate: {{location.climate}}</h5>
    </div>
    
  </div>
  
</div>

{{/each}}

{{!-- ASK: How can we limit the number of results on the page, and add an option to go to the next page? --}}