<div class="trip-post">
    <h2 class="location">{{location.city}}, {{location.country}}</h2>
    <p class="location-desc">{{<location.description}}</p>
    <p class="total-traveller">{{trip.total_travelers}}</p>
    <p class="budget">{{trip.budget}}</p>
    {{!-- <p class="cloud-pic">{{location.photo}}</p> --}}
    <p class="food-rec">{{trip.restaurant_rec}}</p>
    <p class="hotel">{{trip.hotel}}</p>
    <p class="activities">{{trip.active_activities}}</p>
    <p class="relaxing">{{trip.relaxing_activities}}</p>
    <p class="culture">{{trip.culture}}</p>
    <p class="allow-pets">{{trip.allow_pets}}</p>
</div>